/* Start unversal */
* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
html {
    font-size:16px;
    font-family: sans-serif;
}
/* End unversal */
.container {
    width:1140px;
    margin:auto;
}


/* Start Nav Section */
nav {
    background-color: rgb(0 0 0 );
    /* background-color: red; */
    color:white;
    padding:15px 5px 5px;
    font-weight: 500;
    font-size:13px;
}
nav .container {
    position:relative;
}
.absolute {
    position: absolute;
    left:10px;
    width:100%;
    
}
nav .image img {
    cursor: pointer;
}
nav .move {
    top:0px;
    right:0px;
    position:absolute;

}
nav .move li {
    list-style: none;
    display:inline-block;
    padding:6px 5px 5px;
    cursor: pointer;
    
}
nav .move li:hover {
    color:#f9b700 ;
}
/* End Nav Section */

/* Start Landing Page */
section.sec-1 {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}
.overlay {
    background-color: rgb(0, 0, 0,.76);
    padding:15px;
    padding-top:50px;
}
.overlay .left {
    width:58%;
    color:white;
    float: left;
    margin-top:100px;

    margin-left:20px;
    line-height: 1.6;
}
.overlay .left p{
    color:rgb(230, 214, 214);
}
.overlay .left h2+ p {
    color:rgb(226, 219, 219);
}

/* End left */
/* Start right */
.overlay .right {
    float:right;
    width:40%;
    /* height:500px; */
    background-color: rgba(18,31,47,.5);
    padding:20px;
    border: thin solid #4b5264;
}
.overlay .right p {
    color:#feffff;
    margin:20px 10px;
}

.overlay .right form input,
.overlay .right form select {
    padding:9px;
    background-color: #faf9ff;
    width:49.1%;
    margin:10px 0;
    outline:0px;    
    border-radius: 7px;
    

}
.overlay .right form .s-1 {
    width:100%;
}
.overlay .right form input[type="submit"] {
    padding:10px;
    background-color: #f9b700;
    cursor:pointer;
    color:#faf9ff;
}
select {
   color:gray;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
/* End Landing Page */

/* 2------------------------------------- */
.sec-2 {
    margin-bottom:40px;
}
.sec-2 header{
    width:fit-content;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;

}
.sec-2 header h2{
    margin:30px 0px 20px;

}
.sec-2 header p {
    color:gray;
    text-align:center;
}

/* cards */
.sec-2 .up {
    text-align: center;
    /* margin-bottom:30px; */
}
.sec-2 .up div{
    display: inline-block;
    text-align: justify;
}
.sec-2 .up div {
    width:32%   ;
    background-color: #ededf7;
    padding:20px;
    border-radius: 10px;;
}
.sec-2 .up div.second {
    margin:1%;  
}
.sec-2 .up div.icon {
    margin:25px 0px 10px;
    width:100%;
    padding:0px;
}
.sec-2 .up .icon h3 {
    display:inline-block;
    /* width:30%; */
}
.sec-2 .up div.icon + p {
    color:gray;
    margin-bottom: 25px;;
}
.sec-2 .up div.icon i {
    color:#86878b;
    margin-right:10px;
}


/* 3------------------------------------- */

/* Start 3rd section */
.sec-3 .container .image {
    float:left;
    width:50%;
}
.sec-3 .container .image img {
    width:100% ;
    border-radius: 10px 0px 0px 10px ;
}
.sec-3 .container aside {
    float:right;
    width:40%;;
    margin-top:110px;
}
.sec-3 .container aside h3 {
    font-weight: bold;
    font-size:24px;
}
.sec-3 .container aside h3 + p {
    margin:20px  0px;
    color:#000;
}
.sec-3  aside h3 ~ p {
    color:gray;
    
}
/*End 3rd section */

/* Start 4th Section */
/* 4.-------------------------------- */
.sec-4 {
    margin-bottom:80px;
}
.sec-4 header{
    width:fit-content;
    margin:auto;
    margin-top:100px;
}
.sec-4 header h2{
    margin:30px 0px 20px;
    font-size:28px;

}
.sec-4 header p {
    color:gray;
    text-align:center;
}

.sec-4 .left-2 {
    margin-top:80px;
    float:left;
    width:40%;
    line-height: 1.5;
    color:gray;
}

.sec-4 .left-2 .one .p-one{
    float:left;
    color:black;
    font-weight:bold;
}
.sec-4 .left-2 .one .p-two {
    float:right;
    color:#f9b700;  
    font-size: 26px;
    font-weight: bold;
    margin-top: -10px;
    /* padding-bottom:20px; */
}
.sec-4 .left-2 .one .p-two sub {
    font-size:11px;
}
.sec-4 .left-2 .two {
    margin:20px 0px;
}
.sec-4 .left-2 .two .sep-1 {
    margin-bottom: 20px;
}
.sec-4 .left-2 .btn {
    background-color: #222222;
    width:250px;
}
.sec-4 .right-2 {
    margin-top: 80px;
    float:right;
    width:50%;
}
.sec-4 .right-2 img {
    border-radius: 0px 10px 10px 0px;
}
.sec-4 footer {
    text-align: center;
}
.sec-4 footer div{
    width:10px;
    height:10px;
    background-color: gray;
    margin:30px 10px ;
    display:inline-block;
}
.sec-4 footer div.colored {
    background-color: #f9b700;
}
/* End 4th Section */


/* ------------------------------- */

/* Start 5ht Section */
.sec-5 {
    background-image: url(../images/callaction-bg.jpg);
    background-size: cover;
    margin-bottom:100px;
}
.overlay-2 {
    background-color: rgb(0,0,0,.8);
}
.sec-5 .container {
    text-align: center;
    padding:90px;  
}
.sec-5 h2 {
    color:white;
} 
.sec-5 p{
    color:rgb(208, 208, 208);    
    margin:50px;
    line-height:1.7;
}
.sec-5 a {
    text-decoration: none;
    color:#f4af0c;
    padding:10px 30px;
    border:thin solid #f9b902;
}
/* End 5ht Section */   

/* ---------------------------- */

/* Start 6th Section */


.sec-6 header{
    width:fit-content;
    max-width:800px;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    text-align: center;
    line-height: 1.7;

}
.sec-6 header h2{
    margin:30px 0px 20px;
    font-weight: bold;
    font-size: 30px;
}
.sec-6 header p {
    color:gray;
    text-align:center;
}

/* Start Card Section */

.sec-6 .card-one {
    width:22%;
    float:left;
    margin-right:3%;
    margin-bottom:100px;
    /* text-align: center; */
}
.sec-6 .card-one.last {
    margin-right:0px;
}


.sec-6 .card-one img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.sec-6 .card-one .p-one {
    background-color: black;
    width:130px;
    /* text-align: center; */
    padding:5px 10px; 
    color:white;
    border-radius: 4px;
    margin: 10px 0px;
}
.sec-6 .card-one  h3 {
    margin:10px 0px;
}
.sec-6 .card-one .p-two {
    color:gray;
}
.sec-6 .card-one footer .d-one{
    float: left;
}
.sec-6 .card-one footer .d-two {
    float: right;
}
.sec-6 .card-one footer .d-one i,
.sec-6 .card-one footer .d-one p,
.sec-6 .card-one footer .d-two i,
.sec-6 .card-one footer .d-two p {
    display: inline-block;
    margin-top:15px;
    padding:px;
}
/* End 6th Section */


/* Start final Section */
footer.sec-7 {
    padding:50px;
    background-color: #04091d;
    color:gray;
}
.sec-7 .one,
.sec-7 .two,
.sec-7 .three,
.sec-7 .follow{
    float:left;
    width:16%;
    margin-right:2.5%;
}
.sec-7 .newsletter{
    float:left;
    width:26%;
}

.sec-7 div h2 {
    color:#fdfdfd;
    margin-bottom:20px;
    cursor: pointer;
}
.sec-7 div a {
    display: block;
    text-decoration: none;
    padding-top:10px;
    color:gray; 
}
.sec-7 div a:hover {
    color:blue;
}
.sec-7 div.follow a {
    display:inline-block;
    opacity: .6;
    color:gray;
    margin-left:6px;
}
.sec-7 div.follow a:hover {
    opacity: 1;
    transform: scale(1.3);
}
.sec-7 .newsletter p {
    margin:15px 0px;
}
.sec-7 .newsletter input{
    border:0px;
    outline:0px;
    padding:5px 10px;
    width:90%;
    
}
.sec-7 .newsletter .d-1 {
    /* background-color: red; */
    position:relative;
    margin-top:20px;
}
.sec-7 .newsletter  i {
    position:absolute;
    top:0px;
    right:calc(10% - 36px);
    background-color: #f9b700;
    padding:5px 10px;
    color:white;
}