:root {
    --green:#7ab82f;
}
body {
    height: 300px; 
    overflow: auto; 
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #444;

}

.commonbtn {
    text-decoration: none;
    padding:10px 30px;
    color:#7ab82f;
    display: inline-block;
    border-radius: 20px;
	margin-top:20px;
}
.commonheader {
    position: relative;
    margin-bottom:20px;
}
.commonheader p {
    color: var(--green);
    font-size: 14px;
    font-weight: bold;
    margin-left:30px;
    text-transform: uppercase;
}
.commonheader h2 {
    color:#000;
    font-size: 28px;;
    margin-left:30px;
} 
.commonheader::before {
    content:"";
    position:absolute;
    width:5px;
    height:100%;
    background-color: var(--green);
    top:0px;
    left:0px;
}


/* hovers */

/*  */
